<!DOCTYPE html>
<html>
<head>
    <title>Tu Perfil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #logoutButton {
            position: absolute;
            top: 10px;
            right: 10px;
        }

       #productsButton {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 9999;
            background-color: #007BFF;
            color: #fff;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            }

        #productsButton:hover {
            background-color: #0056b3;
        }

        .profile-heading {
            text-align: center;
            margin-bottom: 20px;
        }

        .profile-details {
            margin-bottom: 10px;
        }

        .profile-details p {
            margin-bottom: 5px;
        }

        .profile-details p span {
            font-weight: bold;
        }
        #userName,
        #userEmail,
        #userAge,
        #userRole {
            font-weight: normal; 
        }
    </style>
</head>
<body>
    <div class="container">
        <a id="productsButton" href="/products" class="btn btn-primary">Volver a lista de productos</a>
        <a id="logoutButton" href="/logout" class="btn btn-primary">Desconectarse</a>
        <div class="profile-heading">
            <h1>Tu perfil</h1>
        </div>
        <div class="profile-details">
            <p><span>Nombre:</span> <span id="userName"></span></p>
            <p><span>Email:</span> <span id="userEmail"></span></p>
            <p><span>Edad:</span> <span id="userAge"></span></p>
            <p><span>Rol:</span> <span id="userRole"></span></p>
        </div>
    </div>
    <script>
        // Function to fetch user data and populate the template
        async function fetchUserDataAndPopulateTemplate() {
        try {
            // Function to get the value of a specific cookie
            function getCookieValue(cookieName) {
                const cookies = document.cookie.split('; ');
                for (const cookie of cookies) {
                    const [name, value] = cookie.split('=');
                    if (name === cookieName) {
                        return decodeURIComponent(value);
                    }
                }
            return null; // Cookie not found
            }

            // Usage
            const cookieTokenValue = getCookieValue('cookieToken');
            if (cookieTokenValue !== null) {
    // Use the cookieTokenValue
    console.log('cookieTokenValue:', cookieTokenValue);
} else {
                console.log('Cookie not found');
            }
        

            const response = await fetch('http://localhost:8080/api/sessions/currentUser', {
                headers: {
                    'Authorization': `Bearer ${cookieTokenValue}`
                }
            });

            if (!response.ok) {
                console.error('Response status:', response.status);
                throw new Error('Failed to fetch user data');
            }

            const userDataJson = await response.json();
            const userData = userDataJson.payload;
            console.log(userData)

            // Update template with user data
            document.getElementById('userName').textContent = userData.name || 'No existente';
            document.getElementById('userEmail').textContent = userData.email || 'No existente';
            document.getElementById('userAge').textContent = userData.age || 'No existente';
            document.getElementById('userRole').textContent = userData.role || 'No existente';
        } catch (error) {
            console.error('Error:', error.message);
            // Handle the error
        }
    }

    // Call the function to fetch and populate user data
    fetchUserDataAndPopulateTemplate();
</script>
</body>
</html>