<!DOCTYPE html>
<html>
<head>
    <title>Restablecer contraseña</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .logo {
            text-align: left;
            padding: 20px 20px;
        }

        .logo img {
            position: relative;
            width: 50px;
            left: 20px;
            top: -10px;
        }

        .logo-text {
            position: relative;
            top: -30px;
            float: left;
            font-size: 15px;
            left: 10px;
            color: #007BFF;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #007BFF;
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        
        .login-link {
            text-align: center;
            margin-top: 20px;
        }

        .login-link a {
            color: #007BFF;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="https://rebeccaorona.github.io/img/LogoBlahaj.png" alt="Comercio Blahaj Logo">
    </div>
    <div class="logo-text">
        Comercio Blåhaj
    </div>
    <div class="container">
        <h1>Restablecer contraseña</h1>
        <form id="resetPasswordForm">
            <div class="form-group">
                <label>Correo electrónico</label>
                <input type="text" name="email">
            </div>
            <input type="submit" value="Restablecer">
        </form>
        <div class="login-link">
            <p>¿No es necesario cambiar la contraseña? <a href="/">Ingresa aquí</a></p>
        </div>
    </div>
    <script src="/js/resetPasswordEmail.js"></script>
</body>
</html>
