<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        .info {
          border: 1px solid #ccc; 
          padding: 10px
        }
        .iconos_redes{
            width: 30px;
            height: 30px;
        }
    </style>
</head>
<body>
<footer id="footer_index">
    <div class="info">
        <h3>Acerca de Nosotros:</h3>
        <h5>Comercio Blahaj</h5>
        <h5>Fundado en 2023</h5>
        <h5>Direccion: Tucuman 827 N, San Juan - Argentina</h5>
        <h5>Teléfono: 2645611219</h5>
        <h5>Email: blahajmercado@gmail.com</h5>
    </div>

    <div class="social">
        <h3>Seguinos en Facebook:</h3>
        <a href="https://www.facebook.com/Comercio_Blahaj" target="_blank">
            <img class="iconos_redes" src="https://rebeccaorona.github.io/img/iconoface2c.png" alt="Facebook" title="Facebook" />
            https://www.facebook.com/Comercio_Blahaj
        </a>
    </div>
    <p id="pAutor">© Autora: Dev. Rebecca Orona --- Email: beccaorona01@gmail.com</p>
</footer>
</body>
</html>